/*******************Correction*************/
.correction, .evaluer {
  background: rgb(69, 231, 194);
  #fleche {
    top: 235px;
    border-right: 11px solid rgb(69, 231, 194);
  }
}

#correction {
  section {
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
    width: 250px;
    margin-top: 5px;
  }

  .name {
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 88%;
    display: inline-block;
    font-size: 9px;
  }

  .note {
    width: 10%;
    display: inline-block;
  }



}

.taxo {
  div {
    display: inline-block;
    width: 52px;
    text-align: center;
  }

  .awsm {
    font-size: 17px;
  }

  h5 {
    font-size: 9px;
  }

  .apprct, .item {
    width: 100%;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 8px
  }

}


.graf {
  width: 9%;
  font-size: 8px
}

.item {
  article {
    display: inline-block;
    width: 49%;
  }

  div {
    display: inline-block;
  }



  .libelle {
    width: 88%;
    max-height: 26px;
    overflow: hidden;
    font-size: 9px;
  }
}
