/*******************Evaluations*************/

.neweval {
  background: rgb(216, 216, 216);
}

.evals {
  background: rgb(216, 216, 216);
  .titre {
    width: 244px;
    overflow: hidden;
    display: inline-block;
  }
}
