* {
  margin: 0px;
  vertical-align: top;
}

html {
  height: 100%;
}

body {
  font-family: Questrial, Arial;
  height: 100%;

  h1 {
    text-align: center;
    font-size: 46px;
    margin: 0px;
    padding: 10px;
  }
}

.exit {
  font-size: 100px;
  float: right;
  cursor: pointer;
  z-index: 50;
}


a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 65px;
  padding-left: 160px;
}

#contenu {
  background: white;
  padding: 5px;
  margin: 10px;
}

h4 {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.boutons {
  h4 {
    background: rgb(216, 216, 216);
    cursor: pointer;
  }

  h4.actif {
    color: grey;
  }
}

.awsm {
  option span {
    font-family: FontAwesome;
    text-align: center;
    font-weight: normal;
  }

  &:hover {
    opacity: 0.8;
  }
}

.hidden {
  display: none;
}

nav {
  position: absolute;
  min-height: 100%;
  width: 140px;
  padding-left: 20px;
  display: inline-block;
  background: white;
  top: 0px;
  z-index: 35;
}

.container {
  min-height: 93%;
  max-width: 91% !important;
}

//.neweval, .items, .evals, .classes {
//  section {
//    width: 100%;
//}
// background-color: #ff0000;
//}
