
#logzone {
  background: rgb(216, 216, 216);
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 10px;
  cursor: pointer;
}

.logout {
  font-size: 12px;
  text-align: center
}

/*******************login*************/
.login {
  text-transform: uppercase;
  background: rgb(216, 216, 216);
  section {
    border: none;
  }

  select {
    width: 300px;
  }
}